.audio-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1000;
  background-color: #275838d6;
  color: #f4f4f2;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.audio-button-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .audio-button {
    bottom: 10px;
    left: 10px;
    padding: 10px 15px;
  }

  .audio-button-icons {
    width: 30px;
    height: 30px;
  }
}
