  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3000;
  }

  .modal-content {
    background: #F2F4F4;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  }

  .modal-content h3 {
    margin-top: 0;
    color: #275838;
    letter-spacing: -2px;
    font-weight: 800;
  }

  .modal-content ul {
    list-style: none;
    padding: 0;
  }

  .modal-content li {
    margin: 10px 0;
    font-size: 1.25rem;
    font-weight: 400;
  }

  .modal-content a {
    color: #275838;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
  }

  .modal-content a:hover {
    z-index: 1;
    background-color: #27583895;
    color: #f4f4f2;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 14px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #275838;
  }

  @media (max-width: 768px) {
    .modal-content {
      width: 70%;
      padding: 20px;
    }

    .modal-content h3 {
      font-size: 1.5rem;
    }

    .modal-content li {
      font-size: 1rem;
    }
  }
