.footer {
  background-color: #2758387c;
  padding-top: 20px;
  text-align: center;
}

.footer-links {
  margin: 20px;
}

.footer-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #f4f4f2;
}

.footer-links a:hover {
  color: #f4f4f2;
}

.footer-icons a {
  margin: 0 10px;
  color: #f4f4f2;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footer-icons a:hover {
  color: #f4f4f2;
}

.footer p {
    color: #16181776;
    font-size: 0.9rem;
    margin: 0;
}