.footer {
  border-top: dotted 2px #161817be;
  padding-top: 20px;
  text-align: center;
}

.footer-links {
  margin: 20px;
}

.footer-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #161817be;
  cursor: pointer;
}

.footer-icons a {
  margin: 10px 10px;
  font-size: 1.5rem;
  color: #161817be;
}

.footer p {
  color: #16181776;
  font-size: 0.9rem;
  margin: 0;
}

.big-name {
  width: 100%;
  text-align: center;
  margin: 10px;
  font-family: "Abril Fatface", serif;

}

.big-name p {
  font-size: 14vw;
  background: linear-gradient(110deg, #275838 30%, #F2F4F4 99%);
  background-clip: text;
  -webkit-background-clip: text; /* pour Chrome, Safari */
  color: transparent;
  -webkit-text-fill-color: transparent; /* pour Chrome, Safari */
  margin: 0;
}

@media (max-width: 768px) {
  .big-name p {
    font-size: 14vw;
  }
}

@media (max-width: 480px) {
  .big-name p {
    font-size: 12vw;
  }
}
