.footer {
  border-top: dotted 2px #161817be;
  padding-top: 20px;
  text-align: center;
}

.footer-links {
  margin: 20px;
}

.footer-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #161817be;
}

.footer-icons a {
  margin: 10px 10px;
  font-size: 1.5rem;
  color: #161817be;
}

.footer p {
    color: #16181776;
    font-size: 0.9rem;
    margin: 0;
}

.big-name {
  width: 100%;
  text-align: center;
  margin: 10px;
  font-family: Yeseva One, sans-serif;
}

.big-name p {
  font-size: 14rem;
  color: #161817be;
  margin: 0;
}
