.header {
  position: absolute;
  top: 20px;
  left: 20px;
  transition: all 0.5s ease;
  z-index: 100;
}

.welcome-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(101, 104, 76, 0.8);
  color: #f2efe4;
  font-size: 20rem;
  text-align: center;
  transition: transform 2s ease, font-size 3s ease, opacity 1s ease;
  z-index: 10;
}

.header.animate-done .welcome-message {
  transform: scale(1.3);
  font-size: 2rem;
  opacity: 0;
}

.reduced-title {
  color: #65684c;
  position: relative;
  top: 0;
  left: 0;
  visibility: visible;
  transition: font-size 2s ease;
}
