.header {
  position: absolute;
  top: 0;
  transition: all 0.5s ease;
  z-index: 100;
  width: 100%;
  position: sticky;
  background-color: #f4f4f2;
  z-index: 2000;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.062);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(101, 104, 76, 0.8);
  color: #ffffff;
  font-size: 20rem;
  text-align: center;
  transition: transform 2s ease, font-size 3s ease, opacity 1s ease;
  z-index: 10;
}

.header.animate-done .welcome-message {
  transform: scale(1.3);
  font-size: 2rem;
  opacity: 0;
}

.reduced-title {
  color: #f2efe4;
  position: relative;
  top: 0;
  left: 0;
}

.image-content img {
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.image-content img:hover {
  transform: scale(1.1) rotate(2deg);
}

.logo-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.logo-content img {
  width: 250px;
  height: 180px;
}
