.photos-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.photo-1 {
    position: relative;
    display: flex;
    width: 240px;
    height: 340px;
    border: solid 1px #1c1c1c;
    transform: rotate(-15deg);
}

.photo-1 img,
.photo-2 img,
.photo-3 img,
.photo-4 img,
.photo-5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-2 {
    position: relative;
    display: flex;
    width: 240px;
    height: 340px;
    border: solid 1px #1c1c1c;
    transform: rotate(-6deg);
}

.photo-3 {
    position: relative;
    display: flex;
    width: 240px;
    height: 340px;
    border: solid 1px #1c1c1c;
    transform: rotate(-2deg);
}

.photo-4 {
    position: relative;
    display: flex;
    width: 240px;
    height: 340px;
    border: solid 1px #1c1c1c;
    transform: rotate(8deg);
}

.photo-5 {
    position: relative;
    display: flex;
    width: 240px;
    height: 340px;
    border: solid 1px #1c1c1c;
    transform: rotate(5deg);
}

.photo-1:hover,
.photo-2:hover,
.photo-3:hover,
.photo-4:hover,
.photo-5:hover {
    transform: scale(1.3);
    z-index: 10;
    transition: transform 0.3s ease, z-index 0.3s ease;
}
